<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
    	Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
	RewriteRule ^(.*)/$ /$1 [L,R=301]

	# Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Disallow access to following directories
    RewriteRule ^vendor($|/|/.*|./*) – [L,R=404]
    RewriteRule ^app($|/|/*|/.*) – [L,R=404]
</IfModule>
